<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<center><h1>TABLES</h1></center>
 <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
      </tr>
    </thead>
     {% for x in abc %}
     <tr>
         <td>{{ x.id }}</td>
         <td>{{ x.email }}</td>
         <td>{{ x.password }}</td>
         <td><a href="{% url 'delete' x.id %}"><button type="button" class="btn btn-primary">Delete</button></a></td>
         <td><a href="{% url 'edit' x.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
     </tr>
     {% endfor %}
</body>
</html>